<div>
    <header id="home">
        <div class="logo">
            <img src="/images/BrandeisLogo.png" alt="Brandeis Logo">
        </div>
        <div class="intro">
            <h1>Brandeis University</h1>
            <p id="desc">Students and Alumni Association</p>
        </div>
    </header>
    <nav>
        <a href="/index">Home</a>
        <a href="/about">About</a>
        <a href="/jobs">Jobs</a>
        <a href="/events">Events</a>
        <a href="/contact">Contact</a>
        <!-- <a href="">Alumni</a>
        <a href="">Campus</a> -->
    </nav>
</div>