<div class="main">
    <div class="content">
        <h1>About</h1>
        <!-- <h3>Student & Alumni of <span class="universityName">Brandeis University</span></h3> -->
        <p>Brandeis University is a private research university in Waltham, Massachusetts. Founded in 1948 as a non-sectarian, coeducational institution sponsored by the Jewish community, Brandeis was established on the site of the former Middlesex University. The university is named after Louis Brandeis, the first Jewish Justice of the U.S. Supreme Court.</p>
    </div>
    <div class="brandeis_campus">
        <img src="/images/brandeis_university_about.jpg" alt="brandeis_about" width="60%">
    </div>
</div>