<div class="main">
    <div class="content">
        <h1>Contact</h1>
        <!-- <h3>Student & Alumni of <span class="universityName">Brandeis University</span></h3> -->
        <p>You can contact us at admissions@brandeis.edu with questions, or call us at 781-736-3500. We are available Monday through Friday from 8:30 a.m. to 4:30 p.m. Eastern Time. </p>
        <p>You can also reach out to the offices below with specific questions. </p>
    </div>
    <div class="brandeis_campus">
        <img src="/images/brandeis_contact.jpg" alt="brandeis_contact" width="60%">
    </div>
</div>