<div class="main">
    <div class="content">
        <h1>Events</h1>
        <!-- <h3>Student & Alumni of <span class="universityName">Brandeis University</span></h3> -->
        <p>All events are listed in Eastern Time. Please refer to our COVID-19 response website for information about current COVID-19 policies.</p>
    </div>
    <div class="brandeis_campus">
        <img src="/images/brandeis_event.jpg" alt="brandeis_event" width="60%">
    </div>
</div>