<div class="main">
    <div class="content">
        <h1>We Are Proud</h1>
        <h3>Student & Alumni of <span class="universityName">Brandeis University</span></h3>
        <p>The Brandeis Students and Alumni Association is a vibrant community that offers lifelong oppotunities for studnets and alumni to stay connected to Brandeis and each other</p>
    </div>
    <div class="brandeis_campus">
        <img src="/images/brandeis_campus.jpg" alt="brandeis_campus" width="60%">
    </div>
</div>