<div class="main">
    <div class="content">
        <h1>Jobs</h1>
        <!-- <h3>Student & Alumni of <span class="universityName">Brandeis University</span></h3> -->
        <p>As a Brandeisian, there is a lot that inspires, energizes and moves you. You’re unquestionably unique, passionate and ready to change the world. At Hiatt, we empower students and alumni to harness their individuality in exploring majors, industries and paths because choosing a “career” is more than finding one job or making one decision.</p>
    </div>
    <div class="brandeis_campus">
        <img src="/images/brandeis-jobs.jpeg" alt="brandeis_jobs" width="60%">
    </div>
</div>